                <div class="container">
                        <div class="row" style="margin:25px auto; text-align:center;">
                              <p>@Designed by <a href="http://liangzhang.info" target="_blank">Liang Zhang</a>. All Rights Reserved</p>  
                        </div>
                </div>
        <!--</div>-->
    </body>
</html>